.schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px; 
  }
  
  .schedule-date {
    text-align: left; 
    font-size: 1.2em;
    font-weight: bold;
    flex-shrink: 0; 
  }
  
  .day {
    font-size: 2em;
  }
  
  .month {
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .schedule-event {
    text-align: center;
    flex-grow: 1; 
    font-size: 1.2em;
  }
  
  .schedule-game-team {
    text-align: right;
    flex-shrink: 0; 
  }
  