<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Our Schedules</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Our Schedules</ion-title>
    </ion-toolbar>
  </ion-header>

<ng-container *ngIf="schedules.data && schedules.data.length > 0">
  <ion-card *ngFor="let schedule of schedules.data" [routerLink]="['/schedule-details', schedule.idevent, schedule.idteam]">
    <ion-card-content> 
      <div class="schedule-container">
        <div class="schedule-date">
          <span>{{ schedule.date | date: 'dd' }}</span><br>
          <span>{{ schedule.date | date: 'MMM' | uppercase }}</span>
        </div>

        <div class="schedule-event">
          <span>{{ schedule.nama_event }}</span>
        </div>

        <div class="schedule-game-team">
          <p>{{ schedule.nama_game }} - {{ schedule.nama_team }}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ng-container>
</ion-content>


