<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>our_schedules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">our_schedules</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let our_schedules of ourSchedules">
    <ion-item>
      <ion-label>
        {{our_schedules.date}}
        {{our_schedules.nameEvent}}
        {{our_schedules.nameGame}}
        {{our_schedules.nameTeam}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
