<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Apply New Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Apply Team</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Game Selection -->
    <ion-item>
      <ion-select
        [(ngModel)]="selectedGame"
        (ionChange)="onGameChange()"
        label="Choose Game"
        labelPlacement="stacked"
        placeholder="Choose Game"
      >
        <ion-select-option *ngFor="let game of games" [value]="game.idgame">
          {{ game.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Team Selection -->
    <ion-item>
      <ion-select
        [(ngModel)]="selectedTeam"
        label="Choose Team"
        labelPlacement="stacked"
        placeholder="Choose Team"
        [disabled]="!selectedGame"
      >
        <ion-select-option *ngFor="let team of teams" [value]="team.idteam">
          {{ team.team }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Description Textarea -->
    <ion-item>
      <ion-textarea
        [(ngModel)]="description"
        label="Description"
        labelPlacement="stacked"
        placeholder="Enter Description"
        rows="3"
      ></ion-textarea>
    </ion-item>
  </ion-list>

  <!-- Submit Button -->
  <div class="ion-padding">
    <ion-button expand="block" id="btnSubmit" (click)="applyTeam()">
      Apply Team
    </ion-button>
  </div>
</ion-content>
