<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Schedule Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/schedules"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of schedule.data">
    <ion-img [src]="item.image_url"></ion-img>
    <ion-card-header>
      <ion-card-title>{{item.nama_event}} - {{item.nama_game}}</ion-card-title>
      <ion-card-subtitle>{{item.location}} ({{item.time}})</ion-card-subtitle>
      <ion-card-subtitle>{{item.nama_team}}</ion-card-subtitle>
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
    </ion-card-header>
    
    <ion-button id="notify" shape="round" fill="outline">
      <ion-icon name="notifications-outline"></ion-icon>
      Notify Me
    </ion-button >
    <ion-alert trigger="notify" header="Notify Me" message="Notification Created!"></ion-alert>
  </ion-card>
</ion-content>