<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Who We Are</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Who We Are</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="group" *ngIf="club">
    <img [src]="club?.image" alt="Image" /> 
    <h1><b>{{ club?.name }}</b></h1>
    <p>{{ club?.description }}</p>
  
    <div class="like-section">
      <ion-button (click)="addlikes()" fill="outline" shape="round">
        <ion-icon name="heart"></ion-icon>
        {{ club?.likes }}
      </ion-button>
    </div>
  </div>
  </ion-content>