<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title">
      Teams
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="gameBannerUrl" alt="Game Banner">
  </ion-card>

  <!-- Daftar Tim -->
  <ion-list *ngFor="let team of teams; let i = index">
    <ion-button routerLink ="/members/{{i}}" >
      {{ team.team_name }}
    </ion-button>
  </ion-list>
</ion-content>
