<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title">
      Teams
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="selectedGame?.url"></ion-img>
  </ion-card>

  <ion-list *ngFor="let team of selectedGame.teams; let i = index" >
    <ion-button [routerLink]="['/members', gameIndex, i]">
      {{ team.team_name}}
    </ion-button>
  </ion-list>
</ion-content>