#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% + 40%);
    transform: translateY(-50%);
    margin: 50px, 50px;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 40px;
    font-weight: bold;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .centered-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  .packages {
    padding: 23px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    padding-right: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .card:hover {
      opacity: 5;
    }
  
    .card {
      position:relative;
      display: block;
      width: 650px;
      height: 390px;
      color: #000;
      border-radius: 29px;
      margin-right: 10px;
      background-size: cover;
      margin: 20px 0;
      //border: 3px solid black;
      filter: drop-shadow(0 0 4px grey);
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
    }

    
  }