<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title">
      Achievement
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">achievement</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="achievement_css"*ngIf="achievements">
    <ion-item>
      <ion-label>
        <ion-img [src] = "achievements.url"></ion-img>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="year"
        label="Year"
        label-placement="stacked"
        placeholder="Choose Year"
        fill="outline">
        <ion-select-option 
          *ngFor="let year of arr_year"
            [value]="year">
            {{year}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2 style="font-weight:bold ;">{{ achievements.name }}</h2>
          <ol>
            <li *ngFor="let ach of getAchievementsByYear(achievements)">
              {{ ach }}</li>
          </ol>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
