<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title">Achievement</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Achievement</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="achievement_css" *ngIf="arr_year.length > 0">
    <ion-item>
      <ion-label>
        <ion-img [src]="imageUrl"></ion-img>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="year" label="Year" label-placement="stacked" fill="outline"
        (ionChange)="loadAchievements()">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option *ngFor="let year of arr_year" [value]="year">
          {{ year }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="arr_year.length === 0">
    <ion-item>
      <ion-label>No years available.</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="ach_tampil.length > 0">
    <ion-item *ngFor="let achievement of ach_tampil; let i = index">
      <ion-label>
        {{ i + 1 }}. {{ achievement.name }} - {{ achievement.team }} - {{ achievement.date }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="ach_tampil.length === 0">
    <ion-item>
      <ion-label>
        {{ year === 'All' ? 'No achievements available.' : 'No achievements found for this year.' }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>