<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Team Members</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teams"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Debug gambar game -->
  <ion-img class="imageGame"*ngIf="selectedTeam.length > 0" [src]="selectedTeam[0]?.game_image"></ion-img>

  <!-- List anggota tim -->
  <ion-card *ngIf="selectedTeam.length > 0">
    <ion-list *ngFor="let member of selectedTeam" lines="full">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="member?.image" alt="{{ member.full_name }}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ member.full_name }}</h2>
          <p>{{ member.description || 'No description available' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Pesan error jika data kosong -->
  <p *ngIf="selectedTeam.length === 0">No members found.</p>
</ion-content>
